/* 웹 폰트 (web-font) */
/* 
-구글 웹 폰트, 눈누 웹 폰트
-모든 브라우저에서 보는 폰트를 통일
-폰트를 다운로드 하는 것이 아니라 link태그에 걸려 있는 주소에서 
 폰트를 가져오는 방식
-보통 기본 폰트는 body 태그에 작성. 
*/
/* @font-face {
    font-family: 'April16th-Life';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Life.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} */


body{
    /* font-family: "Poetsen One", sans-serif; */
    /*poestsen one을 사용, 없다면 sans-serif 대체 */
    
    /* font-family: 'April16th-Life'; */
    font-family: "Jacquard 12", system-ui;
}