<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document <%=title%></title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>my blog</h1></a>
        </div>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/create ">create</a></li>
        </ul>
    </nav>

    <div>
        <h1>about</h1>
    </div>

</body>
</html>