<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <h1>all blogs | home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur officiis expedita eveniet eum facilis a enim numquam, beatae aspernatur tenetur voluptate autem aut vero corrupti et doloribus quaerat eius maiores.</p>       
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>