<!-- 공용으로 쓸거니까 -->

<div class="stie-title">
    <a href=""><h1>blog</h1></a>
</div>
<ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">home</a></li>
    <li><a href="/create">new blog</a></li>
</ul>